@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

:root {
	--purple: #4749C2;
	/*--grey: #E8E8F7;*/
	--lightGrey: #eaecee;
	--grey: #d5d8dc;
	--blue: #78AFE3;
	--red: #B25759;

	--radius: 10px;
}

* {
	font-family: "Noto Sans";
}

body {
	opacity: 0;
	overflow-x: hidden;
}

h1 {
	color: var(--purple);
	font-size: 2.5em;
}

button {
	border: none;
	font-size: 1em;
	background-color: black;
	color: white;
	padding: 0.5em;
	border-radius: var(--radius);
}

#mainContent {
	width: 100%;
	height: 100%;
}

#loadedScripts {
	display: none;
}

.header {
	position: fixed;
	margin: 0;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	background-color: var(--lightGrey);
	box-sizing: border-box;
	padding-right: 5vw;
	height: 2.5em;
}
.header button {
	background-color: var(--purple);
}
.header .horizontal {
	display: flex;
	flex-direction: row;
}
.header .mainButton {
	width: fit-content;
}
.header .popup {
	display: none;
	background-color: var(--grey);
	width: 10em;
	height: 10em;
}
.header .popup .enterInfo {
	display: none;
	flex-direction: column;
}
.header .popup .enterInfo input {
	margin-bottom: 0.5em;
}

.main {
	padding-top: 8vh;
}

#createBracketButton {
	margin-top: 3vh;
}

#bracketDeadline {
	display: flex;
	flex-direction: column;
	box-shadow: 0 5px 5px var(--lightGrey);
}
#bracketDeadline .heading {
	background-color: black;
	color: white;
	padding: 0.25em;
}
#bracketDeadline .timeSections {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
}
#bracketDeadline .timeSections div {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#bracketDeadline .timeSections div .number {
	margin: 0;
	font-size: 1.2em;
	background-color: black;
	color: white;
	padding: 0.5em;
	font-weight: bold;
	width: fit-content;
}
#bracketDeadline .timeSections div .text {
	margin: 0;
	font-size: 1.2em;
	font-weight: bold;
}

.leaderboard {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 7vh;
	align-items: center;
}
.leaderboard .heading {
	font-size: 1.5em;
	font-weight: bold;
	margin: 0;
	margin-bottom: 1vh;
}
.leaderboard div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 2px 5px silver;	
	width: 90vw;
}

.leaderboard div .username {
	margin-left: 1em;
	font-weight: bold;
	font-size: 1.2em;
	/*margin-right: 1em;*/
}
.leaderboard div .points {
	margin-right: 1em;
	background: var(--purple);
	color: white;
	padding: 0.2em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	font-weight: bold;
	border-radius: var(--radius);
	font-size: 1.1em;
}
.leaderboard div * {
	margin-left: 0;
	margin-right: 0;
}
.bracketView {
	display: flex;
	flex-direction: column;
	position: absolute;
	background: white;
	box-shadow: 0 0 15px grey;
	display: none;
}
.bracketView #closeBracketViewButton {
	position: absolute;
	right: 0;
}
.bracketView .username {
	font-weight: bold;
	font-size: 1.35em;
}
.bracketView .bracket {
	display: flex;
	flex-direction: row;
	width: 95vw;
	overflow: hidden;
	max-height: 50vh;
	overflow-y: auto;
}
.bracketView .bracket .roundContainer .round {
	display: flex;
	flex-direction: column;
	width: 95vw;
	margin: 0;
}
.bracketView .bracket .roundContainer .round .game {
	display: flex;
	flex-direction: column;
	margin: 0;
}
.bracketView .bracket .roundContainer .round .game .title {
	font-weight: bold;
	font-size: 1.2em;
}
.bracketView .bracket .roundContainer .round .game .teamContainer {
	display: flex;
	flex-direction: row;
}
.bracketView .bracket .roundContainer .round .game .teamContainer .outline {
	display: flex;
	flex-direction: row;
	border: 2px solid transparent;
}

.bracketView .bracket .roundContainer .round .game .teamContainer .outline button {
	opacity: 0;
	pointer-events: none;
}
.bracketView .bracket .roundContainer .round .game .teamContainer .pointsGained {
	display: none;
}
.bracketView .bracket .roundContainer .round .game .correct .outline {
	border-color: green;
}
.bracketView .bracket .roundContainer .round .game .correct .outline button {
	opacity: 1;
}
.bracketView .bracket .roundContainer .round .game .correct .pointsGained {
	display: flex;
}
.bracketView .bracket .roundContainer .round .game .incorrect .outline {
	border-color: red;
}
.bracketView .navControls {
	width: 70vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5vh;
}
.bracketView .navControls #navBackButton {
	opacity: 0;
	user-select: none;
}